/*Galvenā daļa, te atrodas daļas, kas atbild par visiem elementiem kopumā*/

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  /* Nepieļauj teksta iezīmēšanu */
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
}

:root {
  --testColor: red;
  --colorPrimary: darkgray;
  --colorPrimaryPressed: lightBlue;
  --colorSecondary: #9ab8a0;
  --colorTertiary: #52796f;
  --colorTertiaryTwo: #b3dec1;
  --colorBorder: #333333;
  --colorButtons: #9ab8a0;
  --colorButtonPressed: #6c8270;
  --colorBackground: #f0f0f0;
  --colorBackgroundSecondary: #e0e0e0;
  /*var(--colorBackgroundSecondary)*/
}

body {
  background: var(--colorBackground);
  color: black;
  overflow-y: scroll;
}

.main {
  /*šajā daļā atrodas viss tas, kas atrodas zem headera*/
  background: var(--colorBackground);
  padding-top: 50px;
}

/*Header, jeb augšējā lapas daļa*/

/*Te atrodas settings poga un SGLS nosaukums*/

.linkBlock {
  /*<a>, kas padara SGLS bloku un nosaukumu par linku*/
  text-decoration: none;
  color: black;
}

.titleDiv {
  height: 50px;
  width: 100%;
  background: var(--colorPrimary);
  position: fixed;
  display: flex;
  /*Nepieciešams, lai iekšējos div blokus varētu vadīt izmantojot left right top un bottom*/
  justify-content: space-between;
  /*Nepieciešams, lai pa vidu paliktu tukšums*/
  z-index: 1;
}

.SGLSTitleDiv {
  position: relative;
  height: 100%;
  width: 100px;
  left: 10px;
  right: auto;
  text-align: center;
  line-height: 50px;
  /*nepieciešams, lai SGLS nosaukuma teksts tiktu horizontāli centrēts. Tā line-height uzstādīts uz tik pat lielu vērtību kā div blokam kurā tā atrodas*/
}

.headerButton {
  /*settings poga*/
  position: relative;
  height: 100%;
  width: 50px;
  left: auto;
  right: 10px;
  cursor: pointer;
}

.headerButton:hover {
  background: var(--colorPrimaryPressed);
}

/* #settingsButtonPic {
  height: 50px;
} */

/* .outputDiv { */

/*Bloks priekš rezultāta izvades, tiks pēc galarezultāta izveides dzēsts------------------------------------------------------------------------------------------------------------------------*/

/* height: 100%;
  width: 300px;
  background: lightcoral; */

/* } */

/*Mājaslapas vidējā daļa, te atrodas viss līdz izplešanās uz leju pogai*/

.allLampsMainDiv {
  top: 10px;
  position: relative;
}

.allLampsMainDivPart {
  width: 98%;
  height: 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--colorBorder);
  margin-left: auto;
  margin-right: auto;
}

.allLampsMainDivPartTextDiv {
  /* width: 170px; */
  height: 100%;
  left: 10px;
  position: relative;
  text-align: center;
  line-height: 40px;
}

#sliderValueTextDiv {
  text-align: left !important;
  width: 50px !important;
}

/*Paplašināšanas poga*/

/* #expandTrianglePic {
  position: relative;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
} */

/*Augšējo daļa*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: auto;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: lightgray;
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--colorTertiaryTwo);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*Slider with value*/

.slidecontainer {
  width: 35%;
  margin-right: 10px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
  display: inline-block;
}

.slideValue {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: var(--colorTertiary);
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slideValue::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--colorTertiaryTwo);
  cursor: pointer;
}

.slideValue::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--colorTertiaryTwo);
  cursor: pointer;
}

/*Collapsed daļa*/

.collapsible {
  background-color: var(--colorPrimary);
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.active, .collapsible:hover, .collapsible:hover .bookmark:before, .active .bookmark:before {
  background-color: var(--colorPrimaryPressed);
}

.expandButton {
  height: 100%;
  width: 95%;
  border: none;
  color: white;
  outline: none;
  position: relative;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  margin-right: auto;
  margin-left: auto;
  max-height: 0;
  width: 95%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: var(--colorBackgroundSecondary);
  padding-top: 5px;
}

/*Expanded lietas*/

/* 
.expandedColorSetButtons {
  display: flex;
  font-size: 25px;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  margin-bottom: 20px;
} */

/* .expandedOneColorSetButtonDiv {
  width: 25%;
  display: flex;
} */

/* .expandedColorSetButton {
  background: var(--colorButtonPressed);
  height: 35px;
  width: 60px;
  border-radius: 8%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
} */

/* .expandedColorSetButton:hover {
  background: var(--colorButtons);
}

.expandedColorSetButtonBack {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
} */

/*Lampu funkciju pogu daļa*/

/* .colorFuncButton {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5%;
  background: var(--colorButtons);
  font-size: 20px;
  cursor: pointer;
} */

/* .colorFuncButton:hover {
  background: var(--colorButtonPressed);
} */

/*Katras lampas pogas parādīšanās*/

/* .dynamicButtonSpace {
  width: 95%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
} */

/*Dinamiski genereta baltas krasas izvelne*/

.whiteCenterDiv {
  width: 40%;
  height: 30%;
  position: fixed;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 100px;
  display: none;
  padding-left: 5px;
  padding-right: 5px;
}

/* .whiteCenterDivTop {
  height: 20%;
  width: 100%;
  background: var(--colorTertiary);
  display: flex;
  line-height: 18px;
} */

/* .whiteCenterDivMiddle {
  height: 40%;
  width: 100%;
  background: var(--colorBackgroundSecondary);
  display: flex;
} */

/* 
#whiteRange {
  width: 90%;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
} */

/* .whiteCenterDivBottom {
  height: 40%;
  width: 100%;
  border-bottom: 3px var(--colorBorder) solid;
  display: flex;
}

.whiteCenterDivOk {
  height: 100%;
  width: 50%;
  background: var(--colorButtons);
  border-right: 1px var(--colorBorder) solid;
}

.whiteCenterDivCancel {
  height: 100%;
  width: 50%;
  background: var(--colorTertiary);
  border-left: 2px solid var(--colorBorder);
}

.whiteCenterDivOk:hover {
  background: var(--colorButtonPressed);
}

.whiteCenterDivCancel:hover {
  background: var(--colorButtonPressed);
}

.whiteCenterDivOptionsText {
  font-size: 18px;
  margin-left: 5px;
}

button {
  cursor: pointer;
} */

/*Paroles ievadisanas dizains*/

/* .inputForm {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--colorSecondary);
  text-align: center;
  width: 400px;
  height: 100px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
} */

/* 
.submitButton {
  background: gray;
  width: 70px;
  height: 30px;
  cursor: pointer;
}

.submitButton:hover {
  background: darkgray;
}

.textInput {
  font-size: 20px;
} */

/*Settings lodzins*/

.optionsDiv {
  position: fixed;
  right: 60px;
  background: var(--colorBackgroundSecondary);
  width: 300px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  border-left: 2px dashed var(--colorBorder);
  border-bottom: 2px dashed var(--colorBorder);
}

/* .optionsDivButton {
  display: flex;
  background: var(--colorSecondary);
  width: 100%;
  height: 70px;
  border-bottom: var(--colorBorder) 1px solid;
  padding-left: 5px;
} */

.optionsDivButton:hover {
  background: var(--colorTertiary);
}

/* 
.rotateOptionsPic {
  height: 15px;
  margin-right: 18px;
  margin-left: auto;
}

.optionsContent {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
} */

/*Parametri kas ir kopigi vairakam klasem*/

/* .mainPageText, .optionsDivButton {
  font-size: 18px;
} */

/* .text, .submitButton, .expandedOneColorSetButtonDiv, .colorFuncButton {
  font-size: 16px;
} */

/*JAUNAIS KODS*/

/*Krāsu aplis*/

#s_color_picker_id {
  text-align: center;
}

/*Bultiņa*/

div.arrow {
  transform: rotate(-45deg);
}

div.arrow::before {
  content: '';
  width: 70%;
  height: 70%;
  border-width: .4vmin .4vmin 0 0;
  border-style: solid;
  border-color: black;
  transition: .2s ease;
  display: block;
  transform-origin: 70% 0;
}

div.arrow:after {
  content: '';
  float: left;
  position: relative;
  top: -70%;
  width: 70%;
  height: 70%;
  border-width: 0 .4vmin 0 0;
  border-style: solid;
  border-color: black;
  transform-origin: 70% 0;
  transition: .2s ease;
}

/* Ikonas izmērs */

.medIcon {
  height: 20px;
  width: 20px;
  position: relative;
}

/* Vieta kur atrodas pogas */

.elemPlaceHolder {
  width: 95%;
}

/* Bookmark ikona */

.bookmark {
  color: #000;
  position: absolute;
  margin-left: 5px;
  width: 10px;
  height: 15px;
  border-radius: 1px 1px 0 0;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  background-color: currentColor;
}

.bookmark:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 1px;
  width: 7px;
  height: 7px;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: var(--colorPrimary);
}

/* Collapsible pogas nosaukums */

.collapsibleLabel {
  margin-left: 5px;
}

/* Krāsu poga */

.colorBlock {
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 5px;
  box-shadow: 1px 2px 3px #888888;
}

.colorBlock:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

/* Animāciju poga */

.animBlock {
  width: 100%;
  height: 30px;
  background: darkgray;
  line-height: 30px;
  border-bottom: #e0e0e0 1px solid;
  padding-left: 5px;
  color: white;
}

.animBlock:hover {
  background: lightBlue;
  cursor: pointer;
}

/* Settings loga lapas aptumšojošais elements */

.documentCover {
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  top: 0;
  left: 0;
  z-index: 2;
}

/* Settings logs */

.settingsPopUp {
  box-shadow: 1px 2px 3px #888888;
  padding-left: 3px;
  padding-top: 3px;
  border: 1px solid black;
  /* top: 50%;
  left: 50%; */
  position: fixed;
  /* -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */
  /* display: block; */
  background: var(--colorBackground);
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: max-content;
  height: max-content;
}

/* Mazā settings ievade */

.smInput {
  width: 50px;
}

/* Explore ikona */

.explore {
  color: #000;
  position: absolute;
  margin-top: 0;
  margin-left: 3px;
  width: 12px;
  height: 12px;
  border: solid 2px currentColor;
  border-radius: 100%;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.explore:before {
  content: '';
  position: absolute;
  top: 12px;
  left: 5px;
  height: 6px;
  width: 2px;
  background-color: currentColor;
}

/* Grupu pogu atrašanās vieta */

.buttonGroupHolder {
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.groupButtonHolder {
  display: flex;
}

.lampButton {
  background: var(--colorButtonPressed);
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid var(--colorBackground);
  /* width: 60px; */
  color: white;
}

.lampButton:hover {
  background: var(--colorButtons);
  cursor: pointer;
}

/* Menu ikona */

.menu {
  color: #000;
  position: absolute;
  /* margin-left: 2px; */
  /* margin-top: 10px; */
  width: 27px;
  height: 4px;
  background-color: currentColor;
}

.menu:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  width: 27px;
  height: 4px;
  background-color: currentColor;
}

.menu:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 27px;
  height: 4px;
  background-color: currentColor;
}

/* Menu ikonas turētājs */

.menuHolder {
  height: 20px;
  width: 20px;
  position: relative;
  left: 43%;
  top: 64%;
  transform: translate(-50%, -50%);
  /* transform: translateY(-50%); */
}

/* Tur kur atrodas lapas galvenais kontents, krāsu aplis */

.mainColor {
  /*šajā daļā atrodas viss tas, kas atrodas zem headera*/
  /* background: var(--colorBackground); */
  margin-top: 20px;
}

/* Nepieļauj teksta iezīmēšanu */

/* .no_selection {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */

/* -moz-user-select: none; mozilla browsers */

/* -khtml-user-select: none; webkit (konqueror) browsers */

/* -ms-user-select: none; IE10+ */

/* } */

/* Nocentrē krāsu apli */

.iro__colorPicker {
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin-right: 1px;
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.btn:focus, .btn:active:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

/* default
---------------------------- */

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* success */

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

/* Danger */

.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

/* Lampu pogu vērtības atrādīšana */

.displayLampGroup {
  margin-left: 2.5%;
}